<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ch.leyu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Frontia框架的公共权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- FrontiaPush 和FrontiaStatistics 需要的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>

    <!-- FrontiaPush 需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.ch.leyu.application.CLYApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ch.leyu.ui.LaunchActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ch.leyu.ui.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.StarDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.FeedbackActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.SearchListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.VideosActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ch.leyu.ui.VideoPlayActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" 
            android:logo="@drawable/legames_back">
        </activity>
        <activity
            android:name="com.ch.leyu.ui.NewsDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 百度分享 -->
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaSocialOAuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaLocalShareActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaQQFriendShareReceiverActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100358052" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.letv.android.sdk.play.BasePlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <provider
            android:name="com.letv.datastatistics.db.StatisContentProvider"
            android:authorities="sdker.StatisContentProvider" />
    </application>

</manifest>